name: Static code analyzer

on:
  pull_request:

permissions: read-all

jobs:
  analyze_code:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
    defaults:
      run:
        shell: sh

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry manually for Python 3.8
        if: matrix.python-version == '3.8'
        run: |
          python -m pip install --upgrade "pip<23" "setuptools<60" "virtualenv<20.25" "installer<0.7"
          pip install poetry==1.8.5

      - name: Set Up Poetry (abatilo) for >= 3.9
        if: matrix.python-version != '3.8'
        uses: abatilo/actions-poetry@e78f54a89cb052fff327414dd9ff010b5d2b4dbd # v3.0.1
        with:
          poetry-version: 2.1.3
      - name: Install dependencies
        run: |
          poetry install --sync -v
          mkdir .mypy_cache
      - name: Checking if imports are sorted correctly
        run: poetry run isort --check --diff -l 120 --profile black catalystwan
      - name: Check static-typing
        run: poetry run mypy --show-error-codes --show-error-context --pretty --install-types --non-interactive catalystwan --cache-dir=.mypy_cache/
      - name: Check code style
        run: poetry run flake8 catalystwan
