name: Publish to PyPi


on:
  push:
    tags:
      - '*.*.*'

permissions: read-all

jobs:
  publish_release:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: 3.12
      - name: Set Up Poetry
        uses: abatilo/actions-poetry@e78f54a89cb052fff327414dd9ff010b5d2b4dbd # v3.0.1
        with:
          poetry-version: 2.1.3
      - name: Publish catalystwan
        run: |
          poetry config pypi-token.pypi ${{ secrets.CATALYSTWAN_PYPI_TOKEN }}
          poetry publish --build
