name: Publish to PyPi


on:
  push:
    tags:
      - '*.*.*'

permissions: read-all

jobs:
  publish_release:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.12
      - name: Set Up Poetry
        uses: abatilo/actions-poetry@e78f54a89cb052fff327414dd9ff010b5d2b4dbd # v3.0.1
        with:
          poetry-version: 2.1.3
      - name: Publish catalystwan
        run: |
          poetry config pypi-token.pypi ${{ secrets.CATALYSTWAN_PYPI_TOKEN }}
          poetry publish --build
