name: Run unittests

on:
  pull_request:

permissions: read-all

jobs:
  unittests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry manually for Python 3.8
        if: matrix.python-version == '3.8'
        run: |
          python -m pip install --upgrade "pip<23" "setuptools<60" "virtualenv<20.25" "installer<0.7"
          pip install poetry==1.8.5

      - name: Set Up Poetry (abatilo) for >= 3.9
        if: matrix.python-version != '3.8'
        uses: abatilo/actions-poetry@e78f54a89cb052fff327414dd9ff010b5d2b4dbd # v3.0.1
        with:
          poetry-version: 2.1.3
      - name: Install dependencies
        run: poetry install --sync -v
      - name: Run Tests
        run: poetry run pytest catalystwan/tests
